numpy
pandas==1.2.2
gpxpy
python-tcxparser
requests
geojson
pytest
haversine #more accurate and slower alternative is geopy
geopy
overpy
geopandas
Shapely
fastapi
pydantic
Click
uvicorn
pygeos
pytest
tqdm
joblib
sklearn
scipy
scikit-learn==0.24.2
python-multipart
aiofiles
opencv-python
torch
dask
pyproj
