numpy
pandas
gpxpy
python-tcxparser
requests
geojson
pytest
haversine #more accurate and slower alternative is geopy
geopy
overpy
geopandas
Shapely
fastapi
pydantic
Click
uvicorn
pygeos
pytest
tqdm
joblib
scipy
scikit-learn
python-multipart
aiofiles
pyproj
